@font-face{
    font-family: Museo;
    src: url("fonts/static/MuseoModerno-Regular.ttf");}
@font-face{
    font-family: Museolight;
    src: url("fonts/static/MuseoModerno-Light.ttf");}
@font-face{
    font-family: bangers;
    src: url("css/fonts/bangers/Bangers-Regular.ttf");}
@font-face{
    font-family: Beast;
    src: url(/css/fonts/beast/PermanentMarker-Regular.ttf);
}



h1{
color:crimson ;
text-align: center;
font-family: "Museo"; }

html{
background-image: url(../img/delux1.jpg);
background-repeat:repeat-y;
background-size: 100%;}


h2{
color: brown;
text-align: center;
font-family: "Museo",Times, serif;
}

#akcio{
    text-align:center ;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    font-family: museolight;
    background-color:rgb(126, 3, 28);
    padding: 20px;
    border: dashed 3px firebrick;}



#gratis{
    border: 3px, red;
    margin: 20px;
    color: crimson;
    font-weight: 30px;
    padding: 20px;}

.bold{ 
    font-weight: bold;
    font-weight: 700;}

.img-div{background-color: rgb(126, 3, 28);}

.img-div2{background-color:firebrick;}

.menuimg{width: 200px;}


img{width: 14.3%;
box-shadow: 0 0 7px black;
margin: 1%;}


.main{
text-align: center;
font-family: "Beast", Times, serif;
font-weight: 600;
font-size: 70px;}

.link{
    font-family: "Museothin",Times, serif;
    font-weight: 400;
    font-size: 20px;
    color: darkred;}




.menü{
    text-align: center;
    margin: 20px;
    padding: 16px 16px;
    color:crimson ;
    font-family: "Museo";
    background-color: rgb(126, 3, 28, 0.5);
    text-decoration: none;
    border-radius: 20px;}


.info{
   text-align: center;
    color: (126, 3, 28);
    font-family: "Museolight";
    font-weight: 500;
    font-weight: bold;
    color: tomato;}
    
.urlap{
    font-weight: 400;
    font-size: 20px;
    color: tomato;
    box-shadow: tomato 20px;}

    



 